<% text ||= ['Add load text', 'By adding an array of text', 'Add load text', 'By adding an array of text'] %>
<% classes ||= '' %>

<div class="content__container">
  <ul class="content__container__list" style="padding-inline-start: 0px;">
    <% text.each do |text| %>
      <li class="content__container__list__item <%= classes %>"><%= text %></li>
    <% end %>
  </ul>
</div>
