<% classes ||= "bg-black bg-opacity-20" %>

<div class="loader">
  <span class="inner1 <%= classes %>"></span>
  <span class="inner2 <%= classes %>"></span>
  <span class="inner3 <%= classes %>"></span>
</div>
