<% tippy_placement = "bottom-start" %>

<div data-controller="lightbox">
	<button type="button" class="icon-btn white shadow-sm" data-action="lightbox#open">
    <%= render 'icons/menu', classes: 'stroke-current h-3.5 w-3.5' %>
  </button>
  <%= render "components/lightbox/modal_container", title: @course.title, no_padding: true do %>
    <div class="relative overflow-y-scroll overflow-x-hidden" id="dropdown-navigation">
  	  <%= render 'components/breadcrumbs/dropdown_menu', page: @course.page, parent_selector: '#dropdown-navigation' %>
    </div>
  <% end %>
</div>

