.video-player {
  --plyr-color-main: #8349A6;
  --plyr-control-spacing: 12px;
  --plyr-control-radius: 20px;
  --plyr-font-family: 'Shape';

  .plyr__menu__container .plyr__control[role=menuitemradio]:after {
    height: 8px;
    width: 8px;
    left: 13px;
  }

  .plyr--video {
    @apply rounded-md;
  }

  input[type=range] {
    @apply ring-0;
  }

  .plyr.plyr--stopped .plyr__controls { display: none }
}

.plyr__vimeo-chapter {
  background: hsla(0,0%,100%,.9);
  background: var(--plyr-tooltip-background,hsla(0,0%,100%,.9));
  border-radius: 3px;
  border-radius: var(--plyr-tooltip-radius,3px);
  bottom: 100%;
  box-shadow: 0 1px 2px rgb(0 0 0 / 15%);
  box-shadow: var(--plyr-tooltip-shadow,0 1px 2px rgba(0,0,0,.15));
  color: #4a5464;
  color: var(--plyr-tooltip-color,#4a5464);
  font-size: 13px;
  font-size: var(--plyr-font-size-small,13px);
  font-weight: 400;
  font-weight: var(--plyr-font-weight-regular,400);
  left: 50%;
  line-height: 1.3;
  margin-bottom: 10px;
  margin-bottom: calc(var(--plyr-control-spacing,10px)/2*2);
  opacity: 0;
  padding: 5px 7.5px;
  padding: calc(var(--plyr-control-spacing,10px)/2) calc(var(--plyr-control-spacing,10px)/2*1.5);
  pointer-events: none;
  position: absolute;
  transform: translate(-50%,10px) scale(.8);
  transform-origin: 50% 100%;
  transition: transform .2s ease .1s,opacity .2s ease .1s;
  white-space: nowrap;
  z-index: 2;

  &:before {
    border-left: 4px solid transparent;
    border-left: var(--plyr-tooltip-arrow-size,4px) solid transparent;
    border-right: 4px solid transparent;
    border-right: var(--plyr-tooltip-arrow-size,4px) solid transparent;
    border-top: 4px solid hsla(0,0%,100%,.9);
    border-top: var(--plyr-tooltip-arrow-size,4px) solid var(--plyr-tooltip-background,hsla(0,0%,100%,.9));
    bottom: -4px;
    bottom: calc(var(--plyr-tooltip-arrow-size,4px)*-1);
    content: "";
    height: 0;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 0;
    z-index: 2;
  }
}
