<%= simple_form_for audio do |f| %>
  <%= f.file_field :file,
          direct_upload: true,
          required: true,
          accept:"audio/quicktime, audio/mp4",
          data: { controller: 'uploader', uploader_filetypes_value: ['audio/quicktime', 'audio/mp4'] } %>

  <%= f.input :title %>
  <div class="form-actions">
    <%= f.submit class: "w-full" %>
  </div>
<% end %>
