<% no_touch ||= false %>
<div class="progress-container <%= 'pointer-events-none' if no_touch %>" data-media-target="progressContainer">
  <div class="progress" data-media-target="progress"></div>
</div>
