<% no_shadow ||= false %>
<% image ||= asset_path 'default_cover.svg' %>
<% background_style = no_shadow ? "background-image: url(#{image})" : "background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7)), url(#{image})" %>
<% subtitle ||= nil %>

<div class="w-full rounded-2xl h-40 flex items-end bg-center bg-cover" style="<%= background_style %>">
  <div class="flex items-center justify-between w-full p-4">
    <div>
      <h4 class="text-white leading-tight"><%= title %></h4>
      <% if subtitle %>
        <p class="text-white leading-tight text-sm opacity-70"><%= subtitle %></p>
      <% end %>
    </div>
    <div class="h-8 w-8 rounded-full bg-white shadow flex items-center justify-center flex-shrink-0 ml-1">
      <%= render 'icons/arrow_right' %>
    </div>
  </div>
</div>
