<div class="w-full rounded-2xl h-40 flex items-end bg-center bg-cover" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7)), url(https://images.unsplash.com/photo-1537431701805-c1bb45cd2f92?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1364&q=80)">
  <div class="flex items-center justify-between w-full p-4">
    <h4 class="text-white leading-tight">Title of content, longer title</h4>
    <div class="h-8 w-8 rounded-full bg-white shadow flex items-center justify-center flex-shrink-0 ml-1">
      <%= render 'icons/arrow_right' %>
    </div>
  </div>
</div>
