<%= link_to "#", class: "w-full rounded-2xl p-4 flex items-center justify-between border border-gray-200 hover:border-gray-300 bg-white inline-block" do %>
  <div>
    <h4 class="leading-tight">Book a session</h4>
    <h6 class="text-xs text-gray-500">Some information about this quick link</h6>
  </div>
  <div class="h-8 w-8 rounded-full bg-black flex items-center justify-center flex-shrink-0 ml-1">
    <%= render 'icons/arrow_right', classes: "stroke-current text-white" %>
  </div>
<% end %>
