<div class="saving-badge">
  <div class="status-saving">
    <%= render "icons/saving", classes: "w-3 h-3 stroke-current text-gray-400 animate-spin mr-1" %>
    <h6 class="text-gray-400 text-xs">Saving</h6>
  </div>
  <div class="status-saved">
    <%= render "icons/check_circle", classes: "w-3 h-3 stroke-current text-green-500 mr-1" %>
    <h6 class="text-green-500 text-xs">Saved</h6>
  </div>
</div>
