<div class="p-4 rounded-lg bg-white border border-gray-200 shadow">
  <div class="flex items-center justify-between w-full">
    <h4 class="text-gray-400">Drag me to my new position</h4>
    <div class="handle icon-btn faded relative overflow-hidden">
      <%= render "icons/handle", classes: "handle h-4 w-4" %>
    </div>
  </div>
</div>
