<% container_id ||= "" %>
<% placeholder ||= "Search..." %>

<div data-controller="search-filter">
  <div class="form-group pb-0"> <!-- toggle class defined outside  -->
    <input type="text" placeholder="<%= placeholder %>" data-search-filter-target="search">
  </div>
  <div data-search-filter-target="container" id="<%= container_id %>">
    <%= yield %>
    <div class="filter-sizer-element"></div>
  </div>
</div>
