<div class="absolute top-2/4 left-2/4 inline-flex flex-col items-center transform -translate-x-2/4 -translate-y-2/4">
  <h1 class="text-base text-gray-900 font-medium -mb-0.5 text-center"><%= header.capitalize.truncate(20) %></h1>
  <% if subheader %>
    <h4 class="text-xs text-gray-400 font text-center"><%= subheader.truncate(30) %></h4>
  <% end %>
</div>
