<% icon ||= nil %>
<% title ||= "Title" %>

<div class="w-full mb-2 flex items-center justify-between pl-1">
  <div class="flex items-center">
    <%= render "icons/#{icon}", classes:"text-gray-400 stroke-current h-4 w-4" if icon %>
    <h4 class="ml-2 text-sm font-medium text-gray-400 tracking-tight"><%= title.capitalize %></h4>
  </div>
  <%= yield %>
</div>
