<% group_member = current_user.group_members.find_by(group: Current.group) %>
<% media_plays = group_member.media_plays.where(complete: false) %>

<%= turbo_frame_tag "up_next" do %>
  <div class="bg-contrast-50 p-4">
    <div class="mb-4 flex items-center">
      <%= render 'icons/list', classes: "stroke-current text-gray-800 h-3.5 w-3.5 mr-2" %>
      <h4>Up next</h4>
    </div>
    <div>
      <% media_plays.drop(1).each_with_index do |mp, index| %>
        <div class="mb-1" style="z-index: <%= media_plays.length - index %>">
          <%= render 'media_plays/list_item', media_play: mp %>
        </div>
      <% end %>
      <% if media_plays.drop(1).empty? %>
        <p class="text-gray-400 text-xs text-center mb-8">There are no items up next 👀</p>
      <% end %>
    </div>
  </div>
<% end %>
