<%= turbo_stream.replace(dom_id_for_records(@media_play.group_member, prefix:"floating_media"), partial: "components/media_player") %>
<%= turbo_stream.replace(dom_id_for_records(@media_play.group_member, prefix:"media_modal"), partial: "components/media_modal") %>
<%= turbo_stream.append("test") do %>
  <p class="mb-56">Hello there</p>
<% end %>
