.popup-options {
  .popup-background {
    @apply h-0 w-0 bg-transparent block top-0 left-0;
  }

  .popup-popup {
    @apply bg-white rounded-lg overflow-hidden fixed bottom-20 md:bottom-36 left-1/2 transform -translate-x-1/2 w-0 h-0;

    .popup-header {
      @apply w-full flex items-center justify-center p-2 border-b border-gray-200 bg-white;
    }

    .popup-links {
      @apply max-h-96 overflow-scroll pb-1;
    }
  }

  .popup-button {
    @apply w-12 h-12 flex items-center justify-center shadow-xl rounded-full bg-primary fixed bottom-6 md:bottom-20 left-1/2 transform -translate-x-1/2;

    svg {
      @apply stroke-current text-white h-5 w-5;
    }
  }
}

.popup-options.active {
  .popup-background {
    @apply h-screen w-screen bg-black bg-opacity-50 fixed;
  }

  .popup-popup {
    @apply w-64 md:w-96 h-auto shadow-xl;
  }

  .popup-button {
    @apply bg-white;

    svg {
      @apply transform rotate-45 text-primary;
    }
  }
}


@keyframes fadeOutShrink {
  from {
    max-height: 500px;
    transform: scale(1);
    opacity: 1;
  }

  to {
    max-height: 0px;
    transform: scale(0);
    opacity: 0;
    overflow: hidden;
    padding: 0px;
    display: none;
  }
}

.fadeOutShrink {
  animation-timing-function: ease-out;
  animation-name: fadeOutShrink;
}

@keyframes fadeInExpand {
  from {
    max-height: 0px;
    transform: scale(0);
    opacity: 0;
    overflow: none;
  }

  to {
    max-height: 500px;
    transform: scale(1);
    opacity: 1;
  }
}

.fadeInExpand {
  animation-timing-function: ease-out;
  animation-name: fadeInExpand;
}
