<%= link_to group, class: "mb-2 block" do %>
  <div class="flex items-center">
    <%= render 'groups/avatar', group: group, size: 12 %>
    <div class="ml-2">
      <h4><%= group.name.truncate(25) %></h4>
      <p class="text-xs text-gray-400"><%= pluralize(group.group_members.count, "member") %></p>
    </div>
  </div>
<% end %>
