<% right ||= nil %>

<div class="w-full flex items-center justify-between">
  <div class="flex items-center">
    <!-- avatar -->
    <%= render "components/avatar", user: user %>
    <h4 class="ml-2"><%= user.full_name %></h4>
  </div>
  <%= right if right %>
</div>
