<div class="video-player w-full" data-controller="video">
  <div class="relative cursor-pointer">
    <% if video.url.present? %>
      <%= render 'videos/video_url', video: video %>
    <% elsif video.file.url.present? %>
      <%= render 'videos/video_file', video: video %>
    <% else %>
      <div class="w-full rounded-xl bg-gray-400 h-24"></div>
    <% end %>
    <% if video.title.present? %>
      <div data-video-target="title" class="text-white absolute top-0 left-0 rounded-t-md overflow-hidden p-3 px-4 pb-6 w-full">
        <div class="absolute inset-0 bg-gradient-to-b from-black opacity-75 z-0"></div>
        <h4 class="text-xl font-semibold line-clamp-2 relative"><%= video.title %></h4>
        <p class="text-xs opacity-75 line-clamp-2 relative"><%= video.title %></p>
      </div>
    <% end %>
  </div>
</div>
