<!-- YouTube Video --->
<div class="plyr__video-embed" data-controller="video" class="w-full overflow-hidden">
  <iframe
    src="<%= video.info.embed_url %>"
    allowfullscreen
    allowtransparency
  ></iframe>
</div>

