<div class="w-full" data-controller="lightbox">
  <div class="video-card">
    <% if video.url.present? %>
      <%= render 'videos/video_url', video: video %>
    <% elsif video.file.url.present? %>
      <%= render 'videos/video_file', video: video %>
    <% else %>
      <div class="w-full rounded-xl bg-gray-400 h-24"></div>
    <% end %>
  </div>
  <% if video.title.present? %>
    <h4 class="text-xs text-gray-400 mt-2 pl-1"><%= video.title %></h4>
  <% end %>
</div>
