<div class="transition-opacity opacity-0 transition-all hidden" style="height: 100vh; width: 100vw; position: fixed; top: 0px">
  <div style="background: white; height: 100%; width: 100%; display: flex; align-items: center; justify-content: center">
    <%= image_tag 'loader.gif', width: '150px', style: 'padding-bottom: 50px' %>
  </div>
</div>
