<div data-create-section="<%= JSON.generate({section: {position: nil, section_type: section_type}}) %>" style="touch-action: none" class="handle item rounded-lg flex-shrink-0 flex flex-col items-center justify-center bg-transparent hover:bg-black hover:bg-opacity-10 mr-2 cursor-pointer p-4 pt-5 mr-2">
  <%= render "icons/#{icon}", classes: "stroke-current text-black mb-2" %>
  <h6 class="text-xs text-gray-600"><%= title %></h6>
</div>
