<div data-drag-drop-editor-target="dropzone" data-position="<%= position %>" class="dropzone">
  <%= render "icons/drag", classes: "stroke-current text-contrast-800 h-4 w-4 mr-2" %>
  <h4>Drop new section here</h4>
</div>
