<div class="popup-options" data-controller="popup-options" data-popup-options-target="container" style="z-index: 1000">
  <div class="popup-background" data-popup-options-target="background" data-action="click->popup-options#hide">

  </div>
  <div class="popup-popup" data-popup-options-target="popup">
    <div class="popup-header">
      <h4>Add section</h4>
    </div>
    <div class="popup-links">
      <%= link_to "#", class: "dropdown-link" do %>
        <%= render "icons/library" %>
        Content
      <% end %>
    </div>
  </div>
  <%= link_to "#", data: {popup_options_target: "button", action: "click->popup-options#show"}, class:"popup-button" do %>
    <%= render "icons/plus_circle" %>
  <% end %>
</div>
