<% edit_message ||= false %>

<div class="overflow-x-hidden">
  <% if breadcrumb_trail.any? %>
    <%= render "shared/container", classes: "py-4" do %>
      <%= render 'components/breadcrumbs/navigation' %>
    <% end %>
  <% end %>
  <%= render "shared/container", classes: "p-4" do %>
    <% page.sections.each do |section| %>
      <%= render 'sections/section', section: section %>
    <% end %>
  <% end %>
</div>
