<div class="h-screen w-screen flex flex-col items-center justify-center">
  <h1 class="text-3xl text-center font-semibold">Welcome to Akademy project</h1>
  <p class="text-center text-gray-500">Login or signup to get started</p>
</div>


<%= render "components/headers/header", header: 'Header', subheader: "Subheader" %>

