<div class="flex items-center">
  <div class="w-12 h-12 rounded bg-gray-200 flex-shrink-0 flex items-center justify-center mr-4">
    <%= render 'icons/pdf', classes: 'stroke-current text-gray-800 h-5 w-5 m-0' %>
  </div>
  <div>
    <h4 class="leading-tight mb-1 text-base"><%= pdf.title %></h4>
    <div class="flex items-center">
      <h6 class="text-xs text-gray-400">
        PDF
        <% unless pdf.file.attached? %>
          <%= render 'components/middle_dot' %>
          <span class="text-red-500">No file attached</span>
        <% end %>
      </h6>
    </div>
  </div>
</div>
