<% size ||= 12 %>

<% image_path = course.cover.attached? ? cl_image_path(course.cover.key) : asset_path('default_cover.svg') %>
<div class="rounded-md h-<%= size %> w-<%= size %> overflow-hidden border border-white" style="background-size: cover; background-image: url(<%= image_path %>)"></div>
