<% path = course.new_record? ? [course.group, course] : course %>

<%= simple_form_for(path) do |f| %>
  <%= f.input :title %>
  <div class="form-actions">
    <%= f.submit class: "w-full" %>
  </div>
<% end %>
