<% button_classes ||= "icon-btn faded" %>
<% direction ||= "right" %>

<%= render 'components/dropdowns/dropdown' do %>
  <button type="button" class="icon-btn" data-dropdown-target="toggle">
    <%= render 'icons/options', classes: "h-5 w-5" %>
  </button>

  <%= render 'components/dropdowns/dropdown_options_container' do %>
    <%= yield %>
  <% end %>
<% end %>
