<% content_for :preheader do %>
  Hello <%= @resource.full_name_or_email %>!<br>We're contacting you to notify you that your password has been changed.
<% end %>

<h1>Password changed</h1>

<p>Hello <%= @resource.full_name_or_email %>!<br>We're contacting you to notify you that your password has been changed.</p>
