<div id="filter-item" data-filters="[]" data-action="click->filter#toggleExtras" data-filter-target="showMoreContainer" class="page-reference show-more">
  <div class="aspect-h-9 aspect-w-16">
    <div class="show-more-card">
      <div class="show-more-card-info">
        <div>
          <h4 class="show-more-text">Show more</h4>
          <h4 class="show-less-text">Show less</h4>
        </div>
        <div class="show-more-button">
          <%= render "icons/chevron_right", classes: 'stroke-current text-white transform rotate-90' %>
        </div>
      </div>
    </div>
  </div>
</div>
