<div class="bg-black bg-opacity-5 p-0.5 rounded-md flex items-center mr-2">
  <div data-tabs-target="tab" data-action="click->tabs#change" class="h-8 w-8 rounded flex items-center justify-center cursor-pointer text-gray-400 hover:text-gray-800">
    <%= render 'icons/image', classes:"w-4 h-4 stroke-current" %>
  </div>
  <div data-tabs-target="tab" data-action="click->tabs#change" class="h-8 w-8 rounded flex items-center justify-center cursor-pointer text-gray-400 hover:text-gray-800">
    <%= render 'icons/image_cover', classes:"w-4 h-4 stroke-current" %>
  </div>
  <div data-tabs-target="tab" data-action="click->tabs#change" class="h-8 w-8 rounded flex items-center justify-center cursor-pointer text-gray-400 hover:text-gray-800">
    <%= render 'icons/image_slider', classes:"w-4 h-4 stroke-current" %>
  </div>
</div>
